/* NotoSansKR */
@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 400;
	src:url(../../fonts/NotoSansKR-Regular.woff) format("woff");
}
@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/NotoSansKR-Medium.woff) format("woff");
}
@font-face {
	font-family: "Noto Sans KR";
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/NotoSansKR-Bold.woff) format("woff");
}

/* Manrope */
@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 400;
	src:url(../../fonts/Manrope-Regular.woff) format("woff");
}
@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/Manrope-Medium.woff) format("woff");
}
@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/Manrope-SemiBold.woff) format("woff");
}
@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/Manrope-Bold.woff) format("woff");
}
@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 900;
	src:url(../../fonts/Manrope-ExtraBold.woff) format("woff");
}