@charset "UTF-8";
@import "./_common/base";
@import "./layout";
@import "./main";
@import "./about";
@import "./carts";
@import "./design_order";
@import "./explore";
@import "./member";
@import "./my_menu";
@import "./resources";
@import "./search";
@import "./support";

/* common css */
//기본 스타일
::selection { background:$white; color:$black; text-shadow:none; }
::-moz-selection { background:$white; color:$black; text-shadow:none; }
img { vertical-align:top; image-rendering:-webkit-optimize-contrast;}
caption { width:1px; height:1px; overflow:hidden; margin:-1px;}

//hidden text
.hidden-txt,
legend {width:0; height:0; overflow:hidden; display:inline-block; text-indent:-9999px; line-height:1px; position:absolute;}

.video_wrap { position:relative; }

.video_wrap .yt_player, .video_wrap .img_wrap { width:100%; height:100%; position:absolute; top:0; left:0; -ms-background-position-x:50%; background-position-x:50%; -ms-background-position-y:50%; background-position-y:50%; -webkit-background-size:cover; background-size:cover; background-repeat:no-repeat; }

.yt_play_btn { width:104px; height:104px; position:absolute; top:50%; left:50%; text-indent:-9999px; border-width:2px; border-style:solid; border-color:#fff; -webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%; -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); transform:translate(-50%, -50%); -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -o-transition:all 0.2s ease; -ms-transition:all 0.2s ease; }

.yt_play_btn:hover, .yt_play_btn:focus { background-color:#fff; }

.yt_play_btn:hover:after, .yt_play_btn:focus:after { border-left-color:#000; }

.yt_play_btn:after { width:0; height:0; display:block; content:""; border-left-style:solid; border-left-width:23px; border-left-color:#fff; border-top:14px solid transparent; border-bottom:14px solid transparent; position:absolute; top:38px; left:44px; }

.guide_line {
	&:before,
	&:after {width:1px; height:100vh; display:block; content:""; position:fixed; background-color:$red; opacity:.4; left:50%; z-index:1000;}
	&:before {margin:0 0 0 -710px;}
	&:after {margin:0 0 0 710px;}
	.guide_center {width:1px; height:100vh; display:block; content:""; position:fixed; background-color:$red; opacity:.4; left:50%; z-index:1000;}
}

///**
// * Swiper 5.1.0
// * Most modern mobile touch slider and framework with hardware accelerated transitions
// * http://swiperjs.com
// *
// * Copyright 2014-2019 Vladimir Kharlampidi
// *
// * Released under the MIT License
// *
// * Released on: October 16, 2019
// */

@font-face{font-family:swiper-icons;src:url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}:root{--swiper-navigation-size:44px}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:calc(var(--swiper-navigation-size)/ 44 * 27);height:var(--swiper-navigation-size);margin-top:calc(-1 * var(--swiper-navigation-size)/ 2);z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--swiper-navigation-color,var(--swiper-theme-color))}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-next:after,.swiper-button-prev:after{font-family:swiper-icons;font-size:var(--swiper-navigation-size);text-transform:none!important}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:10px;right:auto}.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after{content:'prev'}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after{content:'next'}.swiper-button-next.swiper-button-white,.swiper-button-prev.swiper-button-white{--swiper-navigation-color:#ffffff}.swiper-button-next.swiper-button-black,.swiper-button-prev.swiper-button-black{--swiper-navigation-color:#000000}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:var(--swiper-pagination-color,var(--swiper-theme-color))}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:var(--swiper-pagination-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white{--swiper-pagination-color:#ffffff}.swiper-pagination-black{--swiper-pagination-color:#000000}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:flex;justify-content:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;transform-origin:50%;animation:swiper-preloader-spin 1s infinite linear;box-sizing:border-box;border:4px solid var(--swiper-preloader-color,var(--swiper-theme-color));border-radius:50%;border-top-color:transparent}.swiper-lazy-preloader-white{--swiper-preloader-color:#fff}.swiper-lazy-preloader-black{--swiper-preloader-color:#000}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0px;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}

#skipNavi{position:fixed; width:100%; margin:0 auto; z-index:9999; top:0; left:0;}
#skipNavi a{display:block; position:absolute; left:0; top:0; z-index:9999; width:0; height:0; font-size:0; overflow:hidden;}
#skipNavi a:active, #skipNavi a:focus{width:100%; height:auto; background:#000; color:#fff; font-size:1em; text-align:center; padding:5px 0;}

#container {margin:80px 0 0;}

.slide_wrap {overflow:hidden;}
.layout_wrap {
	max-width:1200px; margin:0 auto; box-sizing:border-box;
	@include pc-guide(){
		padding:0 50px; border:1px solid red;
	}
}

@include pc-small(){
	.pc_show{display:block;}
	.m_show{display:none;}
}
@include mob(){
	.pc_show{display:none;}
	.m_show{display:block;}
}

/* popup Style */
.popup {
	position:fixed; top:0; left:0; width:100%; height:100%; z-index:999; display:none; justify-content:center; align-items:center;
	.popup_wrap {
		width:100%; box-sizing:border-box;
	}
	.popup_content {
		position:relative; z-index:2; margin:0 auto; box-sizing:border-box;
	}
	.btn_popup_close {
		position:absolute; top:0; right:0; z-index:3;
		@include textBackground(50px, 50px);
		@include backgroundSoltC()
	}
	.dimmed {width:100%; height:100%; background:rgba(0, 0, 0, 0.5); position:absolute; top:0; left:0; z-index:1;}

	@include pc-guide(){
		.popup_wrap {padding:0 50px;}
	}
}

/* scroll bar custom */
.scroll_bar_custom {
	padding:0 13px 0 13px; overflow-y:scroll;
	/*height:100px;*/ // 높이값 설정
	@include boxSizing;
	/* 스크롤바 설정*/
	&::-webkit-scrollbar {
		width:6px;
	}
	/* 스크롤바 막대 설정*/
	&::-webkit-scrollbar-thumb {
		height:17%; background-color:$gray2;
		/* 스크롤바 둥글게 설정  */
		border-radius:10px;
	}
	/* 스크롤바 뒷 배경 설정*/
	&::-webkit-scrollbar-track {
		background-color:transparent; // 투명
	}
}

/* Form Style */
.form_text_type01 {
	div {position:relative;}
	label {
		color:$gray5; font-size:16px; position:absolute; top:50%; left:24px; pointer-events:none;
		@include transition(all, 0.3s);
		@include translate(0, -50%);
		&.required {
			&:before {content:"* "; color:$red;}
		}
	}
	input {
		font-size:16px; padding:17px 25px; width:100%; display:block; border:1px solid $gray2; border-radius:10px; box-sizing:border-box;
		&.validField {padding:27px 25px 7px; outline:none; border-color:$gray2;}
		&.validField:focus {border-color:$blue5;}
		&.validField ~ label {
			top:10px; font-size:12px;
			@include translate(0, 0);
		}
	}
	span {font-size:12px; padding:7px 24px 0; display:none;}
	.errorField {
		input {border-color:$red;}
		input:focus {border-color:$red;}
		& ~ span {color:$red; display:block;}
	}
	.missingField {
		input {border-color:$red;}
		input:focus {border-color:$red;}
		& ~ span {color:$red; display:block;}
	}
}

.form_select_type01 {
	position:relative;
	div {
		padding:27px 28px; width:100%; display:block;/*border:1px solid $gray2; border-radius:10px;*/ box-sizing:border-box; position:relative;
		&:after {
			width:13px; height:8px; content:""; background-image:url(../../images/common/select_arr_default.png); position:absolute; top:50%; right:20px;
			@include backgroundSolt(50%, 50%);
			@include translate(0, -50%);
			@include transition(transform, .3s);
		}
		label {
			color:$gray5; font-size:16px; position:absolute; top:50%; left:24px; pointer-events:none;
			@include transition(all, 0.3s);
			@include translate(0, -50%);
			&.required {
				&:before {content:"* "; color:$red;}
			}
			&.select {
				top:10px; font-size:12px;
				@include translate(0, 0);
			}
		}
		input {
			width:100%; height:100%; border:1px solid $gray2; border-radius:10px; padding:27px 25px 7px; display:block; font-size:16px; text-align:left; position:absolute; top:0; left:0; z-index:2; cursor:pointer; box-sizing:border-box;
			&:focus {border-color:$blue5; outline:none;}
		}
		ul {
			width:100%; padding:66px 25px 14px; position:absolute; top:0; left:0; border:1px solid $blue5; border-radius:10px; box-sizing:border-box; background-color:$white; display:none;
			li {
				margin:10px 0 0;
				&:first-child {margin:0;}
				button {width:100%; font-size:14px; color:$gray5; line-height:24px; text-align:left;}
			}
		}
	}
	span {font-size:12px; padding:7px 24px 0; display:none;}

	.validField {
		input {
			border-color:transparent;
			&:focus {border-color:transparent;}
		}
		ul {display:block;}
		&:after {transform:rotate(180deg) translateY(50%);}
	}
	.missingField {
		input {
			border-color:$red;
			&:focus {border-color:$red;}
		}
		ul {border-color:$red;}
		~ span {color:$red; display:block;}
		&.validField {
			input {border-color:transparent}
		}
	}
}

.form_check_radio_default {
	position:relative;
	input[type="checkbox"] {
		position:absolute; top:0; left:0; z-index:-1; opacity:0;
		&:focus ~ label:before {border-color:$blue5;}
		&:hover ~ label:before {border-color:$blue5;}
		&:checked ~ label:before {border:none; background-color:$blue5;}
		&:checked ~ label:after {opacity:1;}
		& + label {
			display:inline-block; padding:0 0 0 32px; font-size:15px; color:$gray7; line-height:22px; position:relative;
			&:before {width:22px; height:22px; content:""; border:1px solid $gray5; border-radius:4px; box-sizing:border-box; background-color:$white; position:absolute; top:0; left:0;}
			&:after {
				width:22px; height:22px; content:""; display:block; position:absolute; top:0; left:0; opacity:0; background-image:url(../../images/common/check_icon.png);
				@include backgroundSoltC();
			}
		}
	}
	input[type="radio"] {
		position:absolute; top:0; left:0; z-index:-1; opacity:0;
		&:focus ~ label:before {border-color:$blue5;}
		&:hover ~ label:before {border-color:$blue5;}
		&:checked ~ label:before {border:none; background-color:$blue5;}
		&:checked ~ label:after {opacity:1;}
		& + label {
			display:inline-block; padding:0 0 0 32px; font-size:15px; color:$gray7; line-height:22px; position:relative;
			&:before {width:22px; height:22px; content:""; border:1px solid $gray5; border-radius:100%; box-sizing:border-box; background-color:$white; position:absolute; top:0; left:0;}
			&:after {
				width:10px; height:10px; border-radius:100%; content:""; display:block; position:absolute; top:50%; left:6px; opacity:0; background-color:$white;
				@include translate(0, -50%);
			}
		}
	}
}

.form_check_radio_type01 {
	//margin:30px 0 0;
	.tit_wrap {
		@extend %clearfix;
		strong {float:left; font-size:20px; font-weight:$medium; color:$gray7;}
		.question_wrap {
			float:left; margin:3px 0 0 8px; position:relative; z-index:1;
			button {
				width:17px; height:17px; text-indent:-9999px; background-color:#cecece; background-image:url(../../images/common/question_icon.png);
				@include borderRadius(100%);
				@include transition(background-color, .2s);
				@include backgroundSolt;
				&:hover,
				&.active {background-color:$blue;}
			}
			.question_detail {
				width:400px; padding:20px 15px; position:absolute; bottom:40px; left:50%; margin:0 0 0 -200px; border:1px solid $gray3; font-size:15px; background-color:$white; display:none;
				@include borderRadius(10px);
				@include boxSizing;
				@include opacity(0);
				&:after {
					width:20px; height:20px; display:block; content:""; position:absolute; left:50%; bottom:-11px; border-bottom:1px solid $gray3; border-right:1px solid $gray3; background-color:$white; margin:0 0 0 -10px;
					@include boxSizing;
					@include rotate(45);
				}
			}
		}
	}
	ul {
		padding:10px 0 0; font-size:16px;
		@extend %clearfix;
		li {width:246px; float:left; margin:8px 0 0 8px; position:relative;}
		&.list_item01 li:nth-of-type(2n+1) {margin:8px 0 0;}
		&.list_item02 li:nth-of-type(3n+1) {margin:8px 0 0;}
		input[type=radio],
		input[type=checkbox] {
			position:absolute; top:10px; left:10px;
			&:checked ~ label {font-weight:$bold; border-width:2px; border-color:$gray6;}
			&:focus,
			&:hover {
				& ~ label {border-color:$gray6;}
			}
		}
		label {
			width:100%; height:58px; text-align:center; position:relative; background-color:$white; line-height:24px;
			@include displayFlexCenter;
			@include borderSet(1px, solid, $gray2);
			@include borderRadius(7px);
			@include boxSizing;
			@include transition(border-color, .2s);
		}
	}
}

.form_check_radio_type02 {
	.notification_txt {margin:15px 0 0; padding:15px 20px; background-color:$gray1; font-size:16px; line-height:24px; color:$black;}
	ul {
		@extend %clearfix;
		li {
			width:100%; float:none; margin:8px 0 0;
			label {height:auto; text-align:left; justify-content:left; padding:15px 20px;}
		}
	}
}

.sub_title_wrap {
	width:100%; position:fixed; top:80px; left:0; z-index:3; text-align:center; background-color:$gray1;
	h2 {font-size:36px; padding:32px 0; font-weight:$regular; color:$gray7; font-family:$bebasNeue;}
	.stepBystep {
		background-color:$gray7;
		ol {
			font-size:0; text-align:center; padding:28px 0;
			li {
				display:inline-block; padding:0 35px; margin:0 22px; position:relative;
				&:after {
					width:7px; height:8px; position:absolute; top:50%; right:-22px; background-image:url(../../images/common/step_arr.png); content:"";
					@include backgroundSoltC();
					@include translate(0, -50%);
				}
				&:last-child {
					margin:0;
					&:after {display:none;}
				}
				strong {font-size:18px; line-height:24px; color:#787879; font-weight:$regular; display:inline-block;}
				&.ok {
					strong {
						color:$gray2; position:relative; padding:0 0 0 30px;
						&:before {
							width:24px; height:24px; border:2px solid $gray2; border-radius:100%; box-sizing:border-box; position:absolute; top:0; left:0; background-image:url(../../images/common/step_icon.png); content:"";
							@include backgroundSoltC();
						}
					}
				}
				&.ing {
					&:after {
						background-image:url(../../images/common/step_arr_on.png);
					}
					strong {
						color:$white; font-weight:$bold; position:relative; padding:0 3px;
						&:after {width:100%; height:3px; position:absolute; bottom:-5px; left:0; background-color:$blue5; content:""}
					}
				}
			}
		}
	}
}

// DropDown
.snb_s {
	position:relative;
	> a {display:block;}
	> ul {display:none;}
}

#filters {
	width:288px; height:calc(100vh - 180px); position:fixed; top:180px; left:0; background-color:$white; z-index:2;
	@include boxShadow(0 0 24px rgba(15, 13, 13, .2));
	@include transition(all, 0.5s);
	.filter_title {
		border-bottom:1px solid $gray2; padding:0 35px;
		.default_box {
			padding:27px 0 26px; position:relative;
			h3 {font-size:20px; font-weight:$medium; color:$gray7;}
			.btn_clearFilters {
				font-size:13px; line-height:24px; position:absolute; top:50%; right:0; font-weight:$medium; color:$gray7;
				&:after {width:100%; height:1px; position:absolute; bottom:3px; left:0; background-color:$gray7; content:"";}
				@include transition();
				@include translate(0, -50%);
				&:hover, &:focus {
					color:$blue5;
					&:after {background-color:$blue5;}
				}
			}
		}
		.availability_box {
			border-top:1px solid $gray2; padding:28px 0;
			strong {font-size:20px; margin:0 0 20px; font-weight:$medium; color:$gray7; display:block;}
			p {
				display:flex; justify-content:space-between;
				button {
					width:49%; font-size:13px; line-height:36px; border-radius:30px; border:1px solid $gray3; color:$gray7; font-weight:$medium;
					@include transition();
					&:hover, &:focus, &.on {
						color:$white; background-color:$gray7; border-color:$gray7;
					}
				}
			}
		}
	}

	.btn_filter {
		width:36px; height:36px; text-indent:-9999px; position:absolute; top:0; right:-36px; background-color:$gray7; border-radius:0 10px 10px 0;
		&:after {
			position:absolute; top:0; left:0; content:""; background-image:url(../../images/common/btn_filter.png);
			@include transition();
			@include textBackground(100%, 100%);
			@include backgroundSoltC();
		}
	}
	.filter_cont {
		width:100%; height:calc(100% - 74px); padding:0 30px; position:absolute; top:74px; left:0; overflow-y:auto; box-sizing:border-box;
		&.filter_cont_explore {height:calc(100% - 209px); top:209px;}
		.filter_type {
			border-top:1px solid $gray2;
			&:first-child {border:none;}
			> strong {font-size:14px; font-weight:$medium; color:$gray7; display:block;}
		}
		.filter_type01 {
			padding:30px 0;
			strong {margin:0 0 20px;}
			li {
				margin:10px 0 0;
				&:first-child {margin:0;}
				.form_check_radio_default input[type="checkbox"] + label {font-size:14px; line-height:20px; padding:0 0 0 25px;}
				.form_check_radio_default input[type="checkbox"] + label:before {width:20px; height:20px;}
				.form_check_radio_default input[type="checkbox"] + label:after {width:20px; height:20px;}
			}
		}
		.filter_type02 {
			padding:20px 0 0;
			> ul {
				overflow:hidden; margin:0 0 5px;
				li {
					float:left; width:50%;
					a {
						font-size:14px; padding:20px 0 24px; text-align:center; font-weight:$medium; display:block; color:$gray7; opacity:.4; position:relative;
						&:after {width:100%; height:4px; background-color:$gray7; position:absolute; bottom:0; left:0; content:"";}
					}
					&.active a {
						color:$blue5; opacity:1;
						&:after {background-color:$blue5;}
					}
				}
			}
			> strong {
				font-size:14px; padding:4px 0; margin:5px 0 15px; color:$gray7; font-weight:$medium; display:block;
			}
			.product {border-top:4px solid $gray2;}
			.products {
				.product_cont {display:none;}
				.product_cont:first-child {display:block;}
			}
			.snb_s {
				border-top:1px solid $gray2;
				> a {
					font-size:14px; padding:20px 20px 20px 0; color:$gray7; font-weight:$medium; position:relative;
					&:after {
						width:17px; height:17px; margin:-8px 0 0; position:absolute; top:50%; right:0; content:""; background-image:url(../../images/common/snb_arr.png);
						@include backgroundSoltC();
						@include transition();
					}
					&.on:after {
						@include rotate(180);
					}
				}
				> ul {
					padding:10px 20px 30px;
					li {
						margin:10px 0 0; position:relative; padding:0 0 0 10px;
						&:before {width:2px; height:2px; background-color:$gray6; border-radius:100%; position:absolute; top:7px; left:0; content:"";}
						&:first-child {margin:0;}
						a {
							font-size:14px; color:$gray6; display:block;
							span {}
							em {}
							&:hover, &:focus, &.on {color:$blue5;}
						}
					}
				}
				&:first-of-type {border:none;}
			}
		}
		.filter_type03 {
			padding:30px 0;
			strong {margin:0 0 20px;}
			div {
				position:relative;
				input[type=text] {width:100%; font-size:13px; line-height:36px; padding:0 35px 0 20px; border:1px solid $gray2; border-radius:20px; box-sizing:border-box;}
				input[type=submit] {
					position:absolute; top:50%; right:15px; cursor:pointer; background-image:url(../../images/common/search_icon_s.png);
					@include backgroundSoltC();
					@include textBackground(16px, 16px);
					@include translate(0, -50%);
				}
			}
		}
	}

	&.fold_aside {
		@include translate(-288px, 0);
		.btn_filter:after {
			@include rotate(180);
		}
	}
}

.filter_contents {
	max-width:1200px; margin:273px auto 0;
	.cont_title {
		width:100%; position:fixed; top:180px; left:0; z-index:1; background-color:$white;
		.title_wrap {
			max-width:1200px; justify-content:space-between; align-items:center; display:flex; margin:0 auto; padding:40px 0 14px; border-bottom:1px solid #e5e5e5;
			.title_box {
				padding:0 0 0 20px;
				.title_type01 {
					font-size:16px; color:$gray6; font-weight:$medium;
					em {color:$blue5}
				}
				.title_type02 {font-size:16px; color:$gray6; font-weight:$medium;}
				.title_type03 {font-size:18px; color:$gray7; font-weight:$medium;}
				.title_type04 {
					* {display:inline-block; vertical-align:middle}
					strong {font-size:18px; color:$gray7; font-weight:$medium;}
					span {
						font-size:15px; color:$gray6; margin:0 0 0 5px; position:relative; top:2px; padding:0 0 0 9px;
						&:before {width:3px; height:3px; border-radius:100%; background-color:$gray6; position:absolute; top:5px; left:0; content:"";}
					}
				}
			}
			.control_wrap {
				font-size:0;
				> * {margin:0 0 0 20px;}
				.btn_compare {
					border:1px solid $gray3; border-radius:20px; padding:0 18px; vertical-align:middle;
					span {
						font-size:13px; line-height:36px; padding:0 22px 0 0; position:relative; font-weight:$medium; color:$gray7; display:block;
						&:after {
							position:absolute; top:50%; right:0; content:""; background-image:url(../../images/common/compare_icon.png);
							@include translate(0, -50%);
							@include backgroundSoltC();
							@include textBackground(16px, 16px);
						}
					}
				}
				select {
					font-size:13px; line-height:36px; padding:0 40px 0 20px; border-radius:20px; vertical-align:middle; font-weight:$medium; border:1px solid $gray3; background-image:url(../../images/common/select_arr.png);
					@include backgroundSolt(85%, 60%);

				}
				.search_type01 {
					display:inline-block; vertical-align:middle; position:relative;
					input[type=text] {
						width:286px; font-size:13px; line-height:36px; padding:0 40px 0 20px; border-radius:20px; box-sizing:border-box; border:1px solid $gray3;
						&::-webkit-input-placeholder {color:$gray3;}
						&:-ms-input-placeholder {color:$gray3;}
					}
					input[type=submit] {
						position:absolute; top:50%; right:11px; background-image:url(../../images/common/search_icon_s.png);
						@include textBackground(16px, 16px);
						@include backgroundSoltC();
						@include translate(0, -50%);
					}
				}
				.search_type02 {
					display:inline-block; vertical-align:middle; position:relative;
					input[type=text] {
						width:286px; font-size:13px; line-height:36px; padding:0 20px; border-radius:20px; box-sizing:border-box; border:1px solid $gray3;
						&::-webkit-input-placeholder {color:$gray3;}
						&:-ms-input-placeholder {color:$gray3;}
					}
					input[type=submit] {font-size:13px; line-height:36px; margin:0 0 0 8px; border-radius:20px; padding:0 20px; border:1px solid $gray3; font-weight:$medium; color:$gray7; cursor:pointer;}
				}
			}
		}
	}
	.content {
		padding:30px 0 60px;
	}
}

.default_contents {
	max-width:1200px; margin:180px auto 0; padding:60px 0;
}
.stepBystep_contents {
	max-width:1200px; margin:180px auto 0; padding:160px 0 60px;
}