@charset "UTF-8";

/* Font style setting */
$roboto:"Roboto", "Apple SD Gothic Neo", Arial, Apple SD Gothic Neo, sans-serif;
$bebasNeue:"Bebas Neue", "Apple SD Gothic Neo", Arial, Apple SD Gothic Neo, sans-serif;

/* Point color setting */
$black:#000;
$white:#fff;

$red:#ea4335;
$blue:#4285f4;
$green:#33a853;

$blue1:#edf5ff;
$blue2:#dcebff;
$blue3:#c6defe;
$blue4:#b0cff9;
$blue5:#1778fb;
$blue6:#3b56f2;
$blue7:#000080;

$gold1:#bb945b;
$gold2:#ac864e;

$green1:#7bad3c;
$green2:#0a8325;

$gray1:#f5f5f5;
$gray2:#e3e3e3;
$gray3:#c5c5c6;
$gray4:#a5a5a5;
$gray5:#707070;
$gray6:#4d4e4f;
$gray7:#121314;

/* Input - color setting */
$inp-bd-base:$gray1;

/* Button - color setting */
$btn-black:$black;

/**
 * BASE SETTING
 */
$base-font:"Roboto", "Apple SD Gothic Neo", AppleGothic, Arial, Helvetica, sans-serif;
$base-font-size:20px;
$base-font-color:$black;

$letter-spacing:0;

$light:300;
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;
$extra-bold:900;